div.App{ 
  background: url("https://res.cloudinary.com/dvysqqdqe/image/upload/v1571756663/54fc501b9ddb414640e67e059b2d3346_c5qsve.jpg");
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 28px;
}

h2 {
  color: rgb(118, 116, 116);
  font-size: 18px;
}

h2.title{
  color:whitesmoke;
}

h3{
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 400;
}
header{
  text-align: center;
  color: whitesmoke;
  position: sticky;
  background-image: url('https://res.cloudinary.com/dvysqqdqe/image/upload/v1571756719/nasa-galaxy_9pu4.910_wcnj13.jpg');
} 

input#search-bar{
  width:220px;
} 

button#submit{ 
border-radius: 6px; 
color: white;
background: linear-gradient(to right, red, blue);
}

button#button-sources{
width: 30%;
height: 30%;  
border-radius: 6px; 
color: white;
background: linear-gradient(to right, green, blue);
}
button:hover{ 
opacity: 0.7;
cursor: pointer;
}
div#sounds{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 170px 250px;
}
input.button{
  cursor: pointer;
  
}
input[type='radio'] { 
  width: 30px;
  height: 30px;
  transform: scale(1.5); }

input.radio:hover{
  cursor: pointer;
}

a#home{
  padding: 8px 20px;
  text-decoration: none;
  border: 2px solid black;
  color: whitesmoke;
} 

a#home:hover{
  color:blue;
}

div#hero-image{
  background-image: url("https://res.cloudinary.com/dvysqqdqe/image/upload/v1571756767/Top-10-best-selling-consoles_tcm25-551954_uhnrki.jpg");
  height: 480px;
  color: black;
  background-size: cover;
}

div#hero-text{
  text-align: center;
}

div#article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

div#article a{
color: blue; 
text-decoration: none;
}

div#article a:hover{
  color:rgb(179, 2, 179); 
  }

div.articles{
  border: 1px solid black;
  margin: 10px auto;
  width: 80%;
  padding: 30px;
  box-shadow: 5px 10px cornflowerblue;
  background: whitesmoke;
  
}

div.articles a:hover{
  color:red;
}

div#fail{
  background: rgba(255, 255, 255, 0.4) ;
}
h2#fail-word{
  color:blue;
}
div.articles img{
  width: 330px;
  position: relative;
  transition: .2s ease-out;
}

div.articles img:hover{
  transform: scale(1.2);
  transition: .2s ease-out;
  cursor: pointer;
}

footer{
  background-image: url("https://res.cloudinary.com/dvysqqdqe/image/upload/v1571756767/Top-10-best-selling-consoles_tcm25-551954_uhnrki.jpg");
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  background-size: cover;
}
div#Github img{
  width: 65px;
  height: 65px;
  padding: 20px;
}
div#LinkIn img{
  width: 65px;
  height: 65px;
  padding: 20px;
}

@media only screen and (max-width: 400px) {
  div#header{
    display: none;
  }
  div#article{
    grid-template-columns: 1fr;
  }
  
  header{
    background-size: cover;

  }
  div#sounds{
    display:none;
  }
  main{
    width: 15%;
    height: 15%;
  }
  
}